<!-- content background page number -->

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color:red;">// <%= e %></p>
  <% end %>
<% end %>

<%= form_for @page, url: url do |f| %>

  <%= f.text_area :content, class: "lg-txt-field" %><br><br>

  <%= f.label "Link to a background image" %><br>
  <%= f.text_field :background, class: "url-field" %><br><br>

  <%= f.submit %><br><br>

<% end %>
