<!DOCTYPE html>
<html>
<head>
  <title>QuillTreePrototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer><%= link_to "Stories", stories_path %> | <%= link_to "Writers", users_path %></footer>

</body>
</html>
